<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Contrat de sponsoring</title>
	</head>
	<body>
		<h1>Contrat Sponsoring :
			{{ string1 }}</h1>

		<table>
			<tr>
				<th>Sponsor</th>
				<th>Email</th>
			</tr>
			<tr>
				<td>{{ string2 }}<br>{{ string3 }}</td>
			</tr>
			<tr>
				<td>{{ string4 }}<br>{{ string5 }}</td>
			</tr>
			<tr>
				<td colspan="2"><img src="{{ string6 }}"></td>
			</tr>
			<tr>
				<td colspan="2"><img src="{{ string7 }}"></td>
			</tr>
		</table>

		<p>Date de début du contrat :
			{{ string8 }}</p>
		<p>Date de fin du contrat :
			{{ string9 }}</p>
		<p>Type de contrat :
			{{ string10 }}</p>
		<p>Salaire en Dt:
			{{ string11 }}</p>

		<p>{{ string12 }}</p>
		<p>Signature Sponsor :</p>

		<table>
			<tr>
				<th>Signature du Sponsor</th>
				<th>Signature du Photographe</th>
			</tr>
			<tr>
				<td><img src="{{ string13 }}"></td>
				<td><img src="{{ string14 }}"></td>
			</tr>
		</table>
	</body>
</html>