{% extends 'base.html.twig' %}

{% block title %}Contratsponsoring{% endblock %}

{% block body %}
    <h1>Contratsponsoring</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdContrat</th>
                <td>{{ contratsponsoring.idContrat }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{{ contratsponsoring.datedebut ? contratsponsoring.datedebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{{ contratsponsoring.datefin ? contratsponsoring.datefin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ contratsponsoring.type }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ contratsponsoring.etat }}</td>
            </tr>
            <tr>
                <th>Salairedt</th>
                <td>{{ contratsponsoring.salairedt }}</td>
            </tr>
            <tr>
                <th>Termespdf</th>
                <td>{{ contratsponsoring.termespdf }}</td>
            </tr>
            <tr>
                <th>Signaturesponsor</th>
                <td>{{ contratsponsoring.signaturesponsor }}</td>
            </tr>
            <tr>
                <th>Signaturephotographe</th>
                <td>{{ contratsponsoring.signaturephotographe }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_contratsponsoring_index') }}">back to list</a>

    <a href="{{ path('app_contratsponsoring_edit', {'idContrat': contratsponsoring.idContrat}) }}">edit</a>

    {{ include('contratsponsoring/_delete_form.html.twig') }}
{% endblock %}
