
{{form_start(f,{'attr': {'class': 'my-form-class', 'novalidate': 'novalidate'}}) }}
<table>
<tr>
<td> {{ form_label(f.email,"email")  }} 
 </td>
<td>  {{ form_widget(f.email) }} 
</td>  
<td> {{ form_errors(f.email) }} 
</td>
</tr>

<tr>
<td>  {{ form_label(f.password,"password") }} 
</td> 
<td> {{ form_widget(f.password)}} 
 </td> 
<td>  {{ form_errors(f.password) }} 
</td> 
</tr>


</table>
 {{ form_widget(f.submit)}} 
{{form_end(f)}}


