 {{form_start(form) }}
<table>
<tr>
<td> {{ form_label(form.email,"email")  }} 
 </td>
<td>  {{ form_widget(form.email) }} 
</td>  
<td> {{ form_errors(form.email) }} 
</td>
</tr>




</table>
<input type="submit" value="send">
{{form_end(form)}} 

