{% extends 'base.html.twig' %}

{% block title %}Liste des votes{% endblock %}

{% block body %}

    <div style="display: flex ; margin-left:350px; margin-top:80px;">
    <a href="{{ path('create_vote') }}"><i class="ri-arrow-left-circle-fill" style="font-size: 50px;"></i></a>
    </div>
    <div style="display: flex ; align-items: center;justify-content: center ; margin-top: 100px; padding: 10px;">
        <h1>Liste des vote</h1>
    </div>
    <div style="display: flex ; align-items: center;justify-content: center ; margin-top: 100px; padding: 10px;margin-left: 300px;">
        <table class="table table-editable table-nowrap align-middle table-edits">
            <thead>
                <tr>
                    <th>Rate</th>
                    <th>User</th>
                    <th>Film</th>
                    <th>Commentaire</th>
                    {#<th>QR Code</th>#}
                    <th>Date de vote</th>
                    <th>Vote</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for vote in list %}
                    <tr data-id="{{ vote.ID_Vote }}">
                        <td data-field="valeur">{{ vote.valeur }} etoile</td>
                        <td data-field="user">{{ vote.idUser.nom}} {{vote.idUser.prenom}}</td>
                        <td data-field="film">{{ vote.idFilm.Titre }}</td>
                        <td data-field="commentaire">{{ vote.commentaire }}</td>
                        <td data-field="datevote">{{ vote.datevote|date('d/m/Y') }}</td>
                        <td data-field="hotel">{{ vote.voteFilm }}</td>
                        <td style="width: 100px">
                            <a class="btn btn-success" title="Edit"  href="{{ path('update_vote', {'id': vote.ID_Vote}) }}" >
                                Modifier   
                            </a>
                        </td>
                        <td style="width: 100px">
                            <a class="btn btn-danger" title="Edit"  href="{{ path('vote_delete', {'id': vote.ID_Vote}) }}" >
                                Supprimer
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
