{% extends 'base.html.twig' %}

{% block title %}Vote index{% endblock %}

{% block body %}
    <h1>Vote index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Valeur</th>
                <th>IdUser</th>
                <th>IdFilm</th>
                <th>Commentaire</th>
                <th>DateVote</th>
                <th>VoteFilm</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vote in votes %}
            <tr>
                <td>{{ vote.valeur }}</td>
                <td>{{ vote.idUser }}</td>
                <td>{{ vote.idFilm }}</td>
                <td>{{ vote.commentaire }}</td>
                <td>{{ vote.dateVote ? vote.dateVote|date('Y-m-d') : '' }}</td>
                <td>{{ vote.voteFilm }}</td>
                <td>
                    <a href="{{ path('app_vote_show', {'idUser': vote.idUser}) }}">show</a>
                    <a href="{{ path('app_vote_edit', {'idUser': vote.idUser}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_vote_new') }}">Create new</a>
{% endblock %}
