{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card my-5">
                    <div class="card-header">
                        <h1 class="text-center">Vote Details</h1>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th scope="row">Valeur</th>
                                    <td>{{ vote.valeur }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">User ID</th>
                                    <td>{{ vote.idUser }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Film ID</th>
                                    <td>{{ vote.idFilm }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Commentaire</th>
                                    <td>{{ vote.commentaire }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">DateVote</th>
                                    <td>{{ vote.dateVote ? vote.dateVote|date('Y-m-d') : '' }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">VoteFilm</th>
                                    <td>{{ vote.voteFilm }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="{{ path('app_vote_index') }}" class="btn btn-primary">Back to List</a>
                        <a href="{{ path('app_vote_edit', {'idUser': vote.idUser}) }}" class="btn btn-success">Edit Vote</a>
                        {{ include('vote/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}