{% extends 'base.html.twig' %}

{% block title %}Film index{% endblock %}

{% block body %}
    <h1>Liste des films</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Date realisation</th>
                <th>Genre</th>
                <th>Resume</th>
                <th>Duree</th>
                <th>Prix</th>
                <th>Producteur</th>
                <th>Acteur</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for film in films %}
            <tr>
                <td>{{ film.titre }}</td>
                <td>{{ film.daterealisation }}</td>
                <td>{{ film.genre }}</td>
                <td>{{ film.resume }}</td>
                <td>{{ film.duree }}</td>
                <td>{{ film.prix }}</td>
                <td>{{ film.idProducteur }}</td>
                <td>{{ film.acteur }}</td>
                <td><img src="{{ asset(film.filmimage) }}" alt="film image" style="width: 100px;"></td>
                <td>
                    <a href="{{ path('app_film_show', {'idFilm': film.idFilm}) }}">show</a>
                    <a href="{{ path('app_film_edit', {'idFilm': film.idFilm}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_film_new') }}">Create new</a>
{% endblock %}
