{% extends 'baseFrontOffice.html.twig' %}

{% block title %}{{ film.titre }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background-color: #000;
            color: #fff;
        }

        .film-details {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding-left: 50px;
        }

        .film-details > div {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            margin-bottom: 10px;
        }

        .film-details > div > span {
            width: 150px;
            font-weight: bold;
        }

        .film-details > div > p {
            margin: 0;
        }
    </style>
{% endblock %}

{% block body %}
    <br/><br/><br/>
    <h1 style="padding-left: 50px;">{{ film.titre }} </h1>

    <div class="film-details">
        <div>
            <img src="{{ asset(film.filmimage) }}" alt="filmimage" style="width: 200px; height: 300px;">
        </div>
        <div>
            <div>
                <span>Date de realisation: {{ film.daterealisation }}</span>
                {# <p>{{ film.daterealisation }}</p> #}
            </div>
            <div>
                <span>Genre: {{ film.genre }}</span>
                {# <p>{{ film.genre }}</p> #}
            </div>
            <div>
                <span>Resume: {{ film.resume }}</span>
                {# <p>{{ film.resume }}</p> #}
            </div>
            <div>
                <span>Duree: {{ film.duree }}</span>
                {# <p>{{ film.duree }}</p> #}
            </div>
            <div>
                <span>Prix: {{ film.prix }} DT</span>
                {# <p>{{ film.prix }}</p> #}
            </div>
            <div>
                <span>Producteur: {{ film.idProducteur }}</span>
                {# <p>{{ film.idProducteur }}</p> #}
            </div>
            <div>
                <span>Acteur: {{ film.acteur }}</span>
                {# <p>{{ film.acteur }}</p> #}
            </div>
        </div>
    </div>
{% endblock %}
