{% extends 'baseFrontOffice.html.twig' %}

{% block title %}{{ film.titre }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background-color: #000;
            color: #fff;
        }

        table {
            color: #fff;
            border-collapse: collapse;
        }

        th, td {
            border: none;
            padding: 10px;
        }
    </style>
{% endblock %}

{% block body %}
    <br/><br/><br/>
    <h1>{{ film.titre }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ film.titre }}</td>
            </tr>
            <tr>
                <th>Daterealisation</th>
                <td>{{ film.daterealisation }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ film.genre }}</td>
            </tr>
            <tr>
                <th>Resume</th>
                <td>{{ film.resume }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ film.duree }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ film.prix }}</td>
            </tr>
            <tr>
                <th>Producteur</th>
                <td>{{ film.idProducteur }}</td>
            </tr>
            <tr>
                <th>Acteur</th>
                <td>{{ film.acteur }}</td>
            </tr>
            <tr>
               <td><img src="{{ asset(film.filmimage) }}" alt="filmimage" style="width: 200px; height: 300px;"></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
