{% extends 'base.html.twig' %}

{% block title %}Liste des Photographie
{% endblock %}

{% block body %}
	<h1>Liste des Photographies</h1>

	<table>
		<thead>
			<tr>
				<th>IdPhotographie</th>
				<th>Nom</th>
				<th>Description</th>
				<th>Photographiepath</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for photographie in photographies %}
				<tr>
					<td>{{ photographie.idPhotographie }}</td>
					<td>{{ photographie.nom }}</td>
					<td>{{ photographie.description }}</td>
					<td>{{ photographie.photographiepath }}</td>
					<td>
						<a href="{{ path('app_photographie_show', {'idPhotographie': photographie.idPhotographie}) }}">show</a>
						<a href="{{ path('app_photographie_edit', {'idPhotographie': photographie.idPhotographie}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_photographie_new') }}">Create new</a>
{% endblock %}
