<footer id="gen-footer">
	<div class="gen-footer-style-1">
		<div class="gen-footer-top">
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-md-6">
						<div class="widget">
							<div class="row">
								<div class="col-sm-12">
									<img src="{{ asset('images/myjccLarge1.png') }}" class="gen-footer-logo" alt="gen-footer-logo">
									<p>MyJcc pour les Cinéphiles.
									</p>
									<ul class="social-link">
										<li>
											<a href="#" class="facebook">
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
										<li>
											<a href="#" class="facebook">
												<i class="fab fa-instagram"></i>
											</a>
										</li>
										<li>
											<a href="#" class="facebook">
												<i class="fab fa-skype"></i>
											</a>
										</li>
										<li>
											<a href="#" class="facebook">
												<i class="fab fa-twitter"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6"></div>
					<div class="col-xl-3  col-md-6">
						<div class="widget">
							<h4 class="footer-title">Application Desktop
							</h4>
							<div class="row">
								<div class="col-sm-12">
									<p>Télécharger notre application MyJcc sur votre ordinateur.
									</p>
									<a href="https://github.com/moenesgueni/PiDEV-myJCC">
										<img src="{{ asset('images/asset-37.png') }}" class="gen-playstore-logo" alt="desktop version">
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3  col-md-6">
						<div class="widget">
							<h4 class="footer-title">Applications Smartphones
							</h4>
							<div class="row">
								<div class="col-sm-12">
									<p>Nos applications Android & IOS seront bientot disponibles.
									</p>
									<a href="#">
										<img src="{{ asset('images/asset-35.png') }}" class="gen-playstore-logo" alt="playstore">
									</a>
									<a href="#">
										<img src="{{ asset('images/asset-36.png') }}" class="gen-appstore-logo" alt="appstore">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="gen-copyright-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12 align-self-center">
						<span class="gen-copyright">
							{{ "now"|date("Y") }}
							© MyJcc |   Design & Develop by VCoders
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>