{% set user = app.session.get('user') %}
{% set galerie = app.session.get('galerie') %}
<header id="gen-header" class="gen-header-style-1 gen-has-sticky">
	<div class="gen-bottom-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<nav class="navbar navbar-expand-lg navbar-light">
						<a class="navbar-brand" href="#">
							<img class="img-fluid logo" src="{{ asset('images/myjccLarge1.png') }}" alt="streamlab-image">
						</a>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<div id="gen-menu-contain" class="gen-menu-contain">
								<ul id="gen-main-menu" class="navbar-nav ml-auto">
									{% if user.role == 'PHOTOGRAPHE' %}
										<li class="menu-item">
											<a href="#" aria-current="page">Ma Galerie</a>
											<i class="fa fa-chevron-down gen-submenu-icon"></i>
											<ul class="sub-menu">
												<li class="menu-item">
													{# <a href="{{ path('app_photographie_new') }}" aria-current="page">Ajouter une photographie</a> #}
												</li>
												<li class="menu-item">
													{# <a href="{{ path('app_photographie_index') }}" aria-current="page">Mes Photographies</a> #}
												</li>
												<li class="menu-item">
													{# <a href="{{ path('app_galerie_show', {'idGalerie': galerie.idGalerie}) }}" aria-current="page">Préférences</a> #}
												</li>
											</ul>
										</li>
										<li class="menu-item">
											{# <a href="{{ path('app_contratsponsoring_index_mes_contrats') }}" aria-current="page">Mes Contrats</a> #}
										</li>
									{% elseif user.role == 'SPONSOR' %}
										<li class="menu-item">
											{# <a href="{{ path('app_contratsponsoring_index_mes_contrats') }}" aria-current="page">Mes Contrats</a> #}
										</li>
										<li class="menu-item">
											{# <a href="{{ path('app_galerie_index') }}" aria-current="page">Explorer Galeries</a> #}
										</li>

									{% endif %}
								</ul>
							</div>
						</div>
						<div class="gen-header-info-box">
							<div class="gen-menu-search-block">
								<a href="javascript:void(0)" id="gen-seacrh-btn">
									<i class="fa fa-search"></i>
								</a>
								<div class="gen-search-form">
									<form role="search" method="get" class="search-form" action="#">
										<label>
											<span class="screen-reader-text"></span>
											<input type="search" class="search-field" placeholder="Search …" value="" name="s">
										</label>
										<button type="submit" class="search-submit">
											<span class="screen-reader-text"></span>
										</button>
									</form>
								</div>
							</div>
							<div class="gen-account-holder">
								<a href="javascript:void(0)" id="gen-user-btn">
									<img class="rounded-circle header-profile-user" src="{{ user.photob64 }}" alt="Header Avatar" width="40" height="50"/>
								</a>
								<div class="gen-account-menu">
									<ul class="gen-account-menu">
										<li>
											{# <a href="{{ path('app_t_m_p_session_loggOut') }}"> #}
												<i class="fas fa-sign-in-alt"></i>
												Se Connecter
											</a>
										</li>
										<li>
											<a href="register.html">
												<i class="fa fa-user"></i>
												Parametres
											</a>
										</li>
										<li>
											{# <a href="{{ path('app_t_m_p_session_loggOut') }}"> #}
												<i class="fas fa-sign-in-alt"></i>
												Se Déconnecter
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="gen-btn-container">
								<a href="register.html" class="gen-button">
									<div class="gen-button-block">
										<span class="gen-button-line-left"></span>
										<span class="gen-button-text">S'inscrire</span>
									</div>
								</a>
							</div>
						</div>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<i class="fas fa-bars"></i>
						</button>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>