{% extends 'base.html.twig' %}

{% block title %}Salle index{% endblock %}

{% block body %}
    <h1>Salle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdSalle</th>
                <th>Nomsalle</th>
                <th>Adresse</th>
                <th>Capacite</th>
                <th>NumtelSalle</th>
                <th>EmailSalle</th>
                <th>TempsOuverture</th>
                <th>TempsFermuture</th>
                <th>Avis</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salle in salles %}
            <tr>
                <td>{{ salle.idSalle }}</td>
                <td>{{ salle.nomsalle }}</td>
                <td>{{ salle.adresse }}</td>
                <td>{{ salle.capacite }}</td>
                <td>{{ salle.numtelSalle }}</td>
                <td>{{ salle.emailSalle }}</td>
                <td>{{ salle.tempsOuverture }}</td>
                <td>{{ salle.tempsFermuture }}</td>
                <td>{{ salle.avis }}</td>
                <td>
                    <a href="{{ path('app_salle_show', {'idSalle': salle.idSalle}) }}">show</a>
                    <a href="{{ path('app_salle_edit', {'idSalle': salle.idSalle}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_salle_new') }}">Create new</a>
{% endblock %}
