<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Contrat de sponsoring</title>
	</head>
	<body>
		<h1>Contrat Sponsoring :
			{{ contratsponsoring.etat }}
		</h1>
		<table>
			<tr>
				<th>Sponsor</th>
				<th>Email</th>
			</tr>
			<tr>
				<td>{{ sponsor.nom }}
					{{ sponsor.prenom }}</td>
				<td>{{ photographe.nom }}
					{{ photographe.prenom }}</td>
			</tr>
			<tr>
				<td>{{ sponsor.email }}</td>
				<td>{{ photographe.email }}</td>
			</tr>
			<tr>
				<td colspan="2"><img src="data:image/png;base64,{{ sponsorImageB64 }}" width="150" height="150"></td>
				<td colspan="2"><img src="data:image/png;base64,{{ photographeImageB64 }}" width="150" height="150"></td>
			</tr>
		</table>

		<p>Date de début du contrat :
			{{ contratsponsoring.datedebut|date('Y-m-d') }}</p>
		<p>Date de fin du contrat :
			{{ contratsponsoring.datefin|date('Y-m-d') }}</p>
		<p>Type de contrat :
			{{ contratsponsoring.type }}</p>
		<p>Salaire en Dt:
			{{ contratsponsoring.salairedt }}</p>

		<p>Le :
			{{ "now"|date("Y-m-d") }}</p>
		<p>Signature Sponsor :</p>

		<table>
			<tr>
				<th>Signature du Sponsor</th>
				<th>Signature du Photographe</th>
			</tr>
			<tr>
				<td><img src="data:image/png;base64,{{ signatureSponsorB64 }}" width="150" height="150"></td>
				<td>
					{% if signaturePhotographeB64 != '-' %}
						<img src="data:image/png;base64,{{ signaturePhotographeB64 }}" width="150" height="150">
					{% endif %}

				</td>
			</tr>
		</table>
	</body>
</html>