{# {{ include('templateBackOffice/leftSideBar.html.twig') }} #}
<div class="vertical-menu">
	<div
		data-simplebar class="h-100">
		<!--- Sidemenu -->
		<div
			id="sidebar-menu">
			<!-- Left Menu Start -->
			<ul class="metismenu list-unstyled" id="side-menu">
				<li class="menu-title" key="t-menu">Films & Salles</li>

				<li>
                 <a href="{{ path('app_film_index') }}" class="waves-effect">
                     <i class="bx bx-file"></i>
                     <span key="t-dashboards">Films</span>
                 </a>
                </li>

				<li>
                 <a href="{{ path('app_salle_index') }}" class="waves-effect">
                     <i class="bx bx-file"></i>
                     <span key="t-dashboards">Salles Cinéma</span>
                 </a>
                </li>

				<li>
                 <a href="{{ path('app_planningfilmsalle_index') }}" class="waves-effect">
                     <i class="bx bx-file"></i>
                     <span key="t-dashboards">Plannings</span>
                 </a>
                </li>

				<li>
                 <a href="{{ path('app_reservation_index') }}" class="waves-effect">
                     <i class="bx bx-file"></i>
                     <span key="t-dashboards">Reservations</span>
                 </a>
                </li>


			</ul>
		</div>
		<!-- Sidebar -->
	</div>
</div>