{# {{ include('templateBackOffice/leftSideBar.html.twig') }} #}
<div class="vertical-menu">
	<div
		data-simplebar class="h-100">
		<!--- Sidemenu -->
		<div
			id="sidebar-menu">
			<!-- Left Menu Start -->
			<ul class="metismenu list-unstyled" id="side-menu">
				<li class="menu-title" key="t-menu">Menu</li>

				<li>
					<a href="javascript: void(0);" class="waves-effect">
						<i class="bx bx-home-circle"></i>
						{# <span class="badge rounded-pill bg-info float-end">04</span> #}
						<span key="t-dashboards">Votes</span>
					</a>
					<ul class="sub-menu" aria-expanded="false">
						<li>
							<a href="{{ path('app_user_search') }}" key="t-default">Liste</a>
						</li>
						<li>
							<a href="{{ path('app_chartjs') }}" key="t-default">Stats</a>
						</li>

					</ul>
				</li>
				<li>
					<a href="javascript: void(0);" class="waves-effect">
						<i class="bx bx-home-circle"></i>
						{# <span class="badge rounded-pill bg-info float-end">04</span> #}
						<span key="t-dashboards">Prix</span>
					</a>
					<ul class="sub-menu" aria-expanded="false">
						<li>
							<a href="{{ path('prix_index') }}" key="t-default">Liste</a>
						</li>
						<li>
							<a href="{{ path('create_prix') }}" key="t-saas">Ajouter</a>
						</li>

					</ul>
				</li>
				<li>
					<a href="javascript: void(0);" class="waves-effect">
						<i class="bx bx-home-circle"></i>
						{# <span class="badge rounded-pill bg-info float-end">04</span> #}
						<span key="t-dashboards">Hotels</span>
					</a>
					<ul class="sub-menu" aria-expanded="false">
						<li>
							<a href="{{ path('hotel_index') }}" key="t-default">Liste</a>
						</li>
						<li>
							<a href="{{ path('create_hotel') }}" key="t-saas">Ajouter</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript: void(0);" class="waves-effect">
						<i class="bx bx-home-circle"></i>
						{# <span class="badge rounded-pill bg-info float-end">04</span> #}
						<span key="t-dashboards">les reservations hotels</span>
					</a>
					<ul class="sub-menu" aria-expanded="false">
						<li>
							<a href="{{ path('reservationhotel_index') }}" key="t-default">Liste</a>
						</li>
						<li>
							<a href="{{ path('create_reservationhotel') }}" key="t-saas">Ajouter</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript: void(0);" class="waves-effect">
						<i class="bx bx-home-circle"></i>
						{# <span class="badge rounded-pill bg-info float-end">04</span> #}
						<span key="t-dashboards">Vehicules</span>
					</a>
					<ul class="sub-menu" aria-expanded="false">
						<li>
							<a href="{{ path('vehicule_index') }}" key="t-default">Liste</a>
						</li>
						<li>
							<a href="{{ path('create_vehicule') }}" key="t-saas">Ajouter</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript: void(0);" class="waves-effect">
						<i class="bx bx-home-circle"></i>
						{# <span class="badge rounded-pill bg-info float-end">04</span> #}
						<span key="t-dashboards">Locations des Vehicules</span>
					</a>
					<ul class="sub-menu" aria-expanded="false">
						<li>
							<a href="{{ path('location_vehicule_index') }}" key="t-default">Liste</a>
						</li>
						<li>
							<a href="{{ path('create_location_vehicule') }}" key="t-saas">Ajouter</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript: void(0);" class="waves-effect">
						<i class="bx bx-home-circle"></i>
						{# <span class="badge rounded-pill bg-info float-end">04</span> #}
						<span key="t-dashboards">Films</span>
					</a>
					<ul class="sub-menu" aria-expanded="false">
						<li>
							<a href="{{ path('app_film_index') }}" key="t-default">Liste</a>
						</li>
						<li>
							<a href="{{ path('app_film_new') }}" key="t-saas">Ajouter</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript: void(0);" class="waves-effect">
						<i class="bx bx-home-circle"></i>
						{# <span class="badge rounded-pill bg-info float-end">04</span> #}
						<span key="t-dashboards">Salles Cinéma</span>
					</a>
					<ul class="sub-menu" aria-expanded="false">
						<li>
							<a href="{{ path('app_salle_index') }}" key="t-default">Liste</a>
						</li>
						<li>
							<a href="{{ path('app_salle_new') }}" key="t-saas">Ajouter</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript: void(0);" class="waves-effect">
						<i class="bx bx-home-circle"></i>
						{# <span class="badge rounded-pill bg-info float-end">04</span> #}
						<span key="t-dashboards">Plannings</span>
					</a>
					<ul class="sub-menu" aria-expanded="false">
						<li>
							<a href="{{ path('app_planningfilmsalle_index') }}" key="t-default">Liste</a>
						</li>
						<li>
							<a href="{{ path('app_planningfilmsalle_new') }}" key="t-saas">Ajouter</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript: void(0);" class="waves-effect">
						<i class="bx bx-home-circle"></i>
						{# <span class="badge rounded-pill bg-info float-end">04</span> #}
						<span key="t-dashboards">Reservations Film</span>
					</a>
					<ul class="sub-menu" aria-expanded="false">
						<li>
							<a href="{{ path('app_reservation_index') }}" key="t-default">Liste</a>
						</li>

					</ul>
				</li>

			</ul>
			<!-- Left Menu Partie Photographes & Sponsors Start -->
			<ul class="metismenu list-unstyled" id="side-menu">
				<li class="menu-title" key="t-menu">Sponsors & Photographes</li>

				<li>
					<a href="javascript: void(0);" class="has-arrow waves-effect">
						<i class="bx bx-file"></i>
						{# <span class="badge rounded-pill bg-info float-end">04</span> #}
						<span key="t-dashboards">Contrats Sponsoring</span>
					</a>
					<ul class="sub-menu" aria-expanded="false">
						<li>
							<a href="{{ path('app_contratsponsoring_admin_index') }}" key="t-default">Lister</a>
						</li>
						<li>
							<a href="#" key="t-saas">Statistiques Générales</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript: void(0);" class="has-arrow waves-effect">
						<i class="bx bx-collection"></i>
						{# <span class="badge rounded-pill bg-info float-end">04</span> #}
						<span key="t-dashboards">Galerie</span>
					</a>
					<ul class="sub-menu" aria-expanded="false">
						<li>
							<a href="{{ path('app_galerie_admin_new') }}" key="t-default">Ajouter</a>
						</li>
						<li>
							<a href="{{ path('app_galerie_admin_index') }}" key="t-default">Lister</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="{{ path('app_photographie_admin_index') }}" class="waves-effect">
						<i class="bx bx-images"></i>
						<span key="t-chat">Photographies</span>
					</a>
				</li>


			</ul>
		</div>
		<!-- Sidebar -->
	</div>
</div>