{# {{ include('templateBackOffice/leftSideBar.html.twig') }} #}
<div class="vertical-menu">
	<div
		data-simplebar class="h-100">
		<!--- Sidemenu -->
		<div
			id="sidebar-menu">
			<!-- Left Menu Start -->
			<ul class="metismenu list-unstyled" id="side-menu">
				<li class="menu-title" key="t-menu">Menu</li>

				<li>
					<a href="javascript: void(0);" class="waves-effect">
						<i class="bx bx-home-circle"></i>
						{# <span class="badge rounded-pill bg-info float-end">04</span> #}
						<span key="t-dashboards">Contrats Sponsoring</span>
					</a>
					<ul class="sub-menu" aria-expanded="false">
						<li>
							<a href="{{ path('app_contratsponsoring_index') }}" key="t-default">Liste</a>
						</li>
						<li>
							<a href="{{ path('app_contratsponsoring_new') }}" key="t-saas">Ajouter</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript: void(0);" class="waves-effect">
						<i class="bx bx-home-circle"></i>
						{# <span class="badge rounded-pill bg-info float-end">04</span> #}
						<span key="t-dashboards">Galeries</span>
					</a>
					<ul class="sub-menu" aria-expanded="false">
						<li>
							<a href="{{ path('app_galerie_index') }}" key="t-default">Liste</a>
						</li>
						<li>
							<a href="{{ path('app_galerie_new') }}" key="t-saas">Ajouter</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript: void(0);" class="waves-effect">
						<i class="bx bx-home-circle"></i>
						{# <span class="badge rounded-pill bg-info float-end">04</span> #}
						<span key="t-dashboards">Photographies</span>
					</a>
					<ul class="sub-menu" aria-expanded="false">
						<li>
							<a href="{{ path('app_photographie_index') }}" key="t-default">Liste</a>
						</li>
						<li>
							<a href="{{ path('app_photographie_new') }}" key="t-saas">Ajouter</a>
						</li>
					</ul>
				</li>


			</ul>
		</div>
		<!-- Sidebar -->
	</div>
</div>
