{% extends 'base.html.twig' %}

{% block title %}Liste Galeries
{% endblock %}

{% block body %}
	<h1>Liste des Galeries</h1>

	<table class="table">
		<thead>
			<tr>
				<th>IdGalerie</th>
				<th>Couleurhtml</th>
				<th>Nom</th>
				<th>Description</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for galerie in galeries %}
				<tr>
					<td>{{ galerie.idGalerie }}</td>
					<td>{{ galerie.couleurhtml }}</td>
					<td>{{ galerie.nom }}</td>
					<td>{{ galerie.description }}</td>
					<td>
						<a href="{{ path('app_galerie_show', {'idGalerie': galerie.idGalerie}) }}" class="buttonShow">show</a>
						<a href="{{ path('app_galerie_edit', {'idGalerie': galerie.idGalerie}) }}" class="buttonEdit">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_galerie_new') }}" class="buttonShow">Create new</a>
{% endblock %}
